<template-master type="shift">
    <p data-bind='NickName' data-label="Nick Name"></p>
    <p data-bind='StartTime' data-format="[Hours]:[Minutes]{2}" data-label="Start"></p>
    <p data-bind='Duration' data-format="{0} Hours" data-label="Length"></p>
</template-master>