@{
    ViewBag.Title = "No Building";
}

<h2>No Buildings</h2>

<p>
    Currently there are no buildings.  You must create a @Html.ActionLink("Building", "Index", "Building", new { }, new { })  before accessing the previous page.
</p>