@{
    ViewBag.Title = "No Room";
}

<h2>No Rooms</h2>

<p>
    Currently there are no rooms for this version.  You must create a @Html.ActionLink("Room", "Index", "Room", new { }, new { })  before accessing the previous page.
</p>