@{
    ViewBag.Title = "No User";
}

<h2>No Users</h2>

<p>
    Currently there are no users for this version.  You must create a @Html.ActionLink("User", "Index", "User", new { }, new { })  before accessing the previous page.
</p>