@{
    ViewBag.Title = "No Version";
}

<h2>No Version</h2>

<p>
    Currently there are no versions.  You must create a @Html.ActionLink("Version", "Index", "Version", new { }, new { })  before accessing any other page.
</p>