.clearboth{
	clear: both;
}
nav ul#menu {
	list-style-type: none;
	li {
		float: left;
		margin-left: 1rem;
		color: #000;
		padding: 0.1875rem 1rem;
	}
}
.tooltip {
	position: absolute;
	z-index: 1005;
	background: #fff;
	padding: 15px;
	border: 1px solid #000;
	&.user, &.preference {
		min-width: 375px;
	}
	&.shiftpreference {
		min-width: 225px;		
	}
	&.user, &.shift, &.shiftpreference, &.preference {
		label{
			float: left;
			width: 50%;
		}
	}
}
tip-master {
	display: none !important;
}
.address-holder {
	border: 1px solid #000;
	
}
.display-label, .label {
	font-weight: bold;
}
.has-expansion {
	position: relative;
	.expansion {
		display: none;
		z-index: 1;
	}
	&:hover .expansion, &.open .expansion {
		display: block;
		position: absolute;
		top: 0;
		left: -220px;
		background: #fff;
		width: 300px;
		border: 2px solid #000;
		padding: 10px;
	}
}
.error-message, .validation-summary-errors{
	color: red;
	margin-bottom: 10px;
}
@media (min-width: 1000px){
	body {
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	body > header > .content-wrapper {
		left: 0;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
}