$welcome-color: rgb(0, 255, 245);
header {
	p.site-title{
		margin-top: 1.25rem;
		img {
			max-height: 100px;
		}
	}
	select {
		margin-top: 20px;
	}
	.welcome-bar {
		position: fixed;
		top: 0;
		right: 10%;
		z-index: 2;
		background: $welcome-color;
		font-size: .9em;
		max-height: 20px;
		padding: 0 5px;
		&:after, &:before{
			content: " ";
			position: absolute;
			display: block;
			height: 0;
			width: 0;
			top: 0;
			z-index: 2;
		}
		&:before{
			left: -20px;
			border-top: 20px solid $welcome-color;
			border-left: 20px solid transparent;
		}
		&:after{
			right: -20px;
			border-top: 20px solid $welcome-color;
			border-right: 20px solid transparent;
		}
		.sub-bar {
			display: none;
			position: relative;
			background: $welcome-color;
			width: 100%;
			margin: 0;
			padding: 2px 10px;
			top: -1px;
			left: -2px;
			li {
				list-style-type: none;
			}
		}
		&:hover .sub-bar {
			display: block;
		}
	}
}